.env
.idea
.npmrc
.vscode
__pycache__
*.pyc
*.tgz
coverage
demo/*.js
demo/*.js.map
dist
lib
node_modules
server_utils/*.js
server_utils/*.js.map
server/**/*.js
server/**/*.js.map
.direnv
server/public/