acme==0.12.0
attrs==16.0.0
awscli==1.11.59
boto3==1.4.4
botocore==1.5.22
certbot==0.12.0
certbot-s3front==0.2.0
cffi==1.7.0
colorama==0.3.7
ConfigArgParse==0.11.0
configobj==5.0.6
cryptography==1.4
cyclone==1.1
docutils==0.13.1
enum34==1.1.6
funcsigs==1.0.2
future==0.16.0
futures==3.0.5
idna==2.1
ipaddress==1.0.16
jmespath==0.9.1
mercurial==4.5.2
mock==2.0.0
numpy==1.11.2
parsedatetime==2.3
pbr==2.0.0
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycairo==1.16.3
pycparser==2.14
pygame==1.9.2b8
pygobject==3.28.0
pyhttps==0.0.3
pyOpenSSL==16.0.0
pyportmidi==0.0.7
pyRFC3339==1.0
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
requests==2.13.0
rsa==3.4.2
s3transfer==0.1.10
service-identity==16.0.0
simplejson==3.8.2
six==1.10.0
Twisted==16.2.0
zope.component==4.3.0
zope.event==4.2.0
zope.interface==4.2.0
